@using MovieLibrary.Models.Models;
@model Movie

@{
    ViewData["Title"] = "Детали";
}

<div class="row">

    <div class="col-md-8 offset-md-2">
        <div class="card mb-3">
            <div class="row g-0">
                <div class="col-md-12">
                    <div class="card-header bg-dark text-white">
                        <h1 class="card-title">
                            @Model.Name
                        </h1>

                    </div>
                </div>
                <div class="col-md-4">
                    <img src="~/@Model.Image.ImagePath" class="img-fluid" alt="movie poster">
                </div>
                <div class="col-md-8">
                    <div class="card-body">
                        <p class="card-text">@Model?.Description</p>
                        <p class="card-text">
                            <b>Кинотеатр: </b>
                            <a asp-controller="Cinemas" asp-action="Details" asp-route-id="@Model?.Cinema?.Id">
                                @Model?.Cinema?.Name
                            </a>
                        </p>
                        <p class="card-text">
                            <b>Режиссер: </b>
                            <a asp-controller="Directors" asp-action="Details" asp-route-id="@Model?.Director?.Id">
                                @Model?.Director?.FullName
                            </a>
                        </p>
                        <p class="card-text"><b>Категория: </b>@Model?.MovieCategory.ToString()</p>
                        <p class="card-text"><b>Дата начала: </b>@Model?.StratDate.ToString("dd MMM")</p>
                        <p class="card-text"><b>Дата окончания: </b>@Model?.EndDate.ToString("dd MMM")</p>
                        <p class="card-text">
                            <b>Актеры: </b>
                            <hr />
                            <div class="row">
                                @foreach (var actor in Model!.ActorsMovies!)
                                {
                                    <div class="col-4 text-center">
                                        <img class="rounded-circle" style="width: 100px; height: 100px; object-fit:cover;" src="~/@actor.Actor?.Image.ImagePath" />
                                        <br />
                                        <a asp-controller="Actors" asp-action="Details" asp-route-Id="@actor.Actor?.Id">
                                            @actor.Actor?.FullName
                                        </a>
                                    </div>
                                }
                            </div>
                        </p>
                    </div>
                </div>
                <div class="col-md-12">
                    <div class="card-footer">
                        <p class="card-text">
                            <a class="btn btn-success" asp-controller="Orders" asp-action="AddToCart" asp-route-id="@Model.Id">
                                <i class="bi bi-cart-plus"></i>
                                Добавить в корзину (Цена @Model.Price₽)
                            </a>
                            <a class="btn btn-outline-primary float-end" asp-action="Index">
                                Назад к списку фильмов
                            </a>
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>




