@using MovieLibrary.Models.ViewModels;
@model DetailedUserVM
@{
    ViewData["Title"] = "Детали";
}

<div class="row">
    <div class="col-sm-10 offset-sm-1 col-md-8 offset-md-2">
        <div class="text-center my-2">
            <img class="rounded-circle image-default-size" src="~/images/default-pfp.png" />
        </div>
        <div class="text-center mb-5">
            <h1>@Model.FullName</h1>
            <h5>@@@Model.UserName</h5>
            <p>Всего потрачено денег: @Model.MoneyPaied.ToString("c")</p>
        </div>
        <h3>Контактная информация</h3>
        <ul>
            <li><b>Email</b>: @Model.Email</li>
            <li><b>Номер телефона</b>: @Model.PhoneNumber</li>
        </ul>
        <h4>Адрес пользователя</h4>
        <ul>
            <li>Страна: @Model.Country</li>
            <li>Город: @Model.City</li>
            <li>Улица: @Model.Street</li>
        </ul>
        @if (Model.Orders.Count > 0)
        {
            <h4>Orders</h4>
            <table class="table">
                <thead>
                    <tr>
                        <th>Id заказа</th>
                        <th>Элементы</th>
                        <th>Цена</th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var order in Model.Orders)
                    {
                        <tr>
                            <td class="align-middle"> @order.Id </td>
                            <td class="align-middle">
                                <ul class="list-unstyled">
                                    @foreach (var orderItem in order.OrderItems)
                                    {
                                        <li>
                                            <div class="alert alert-info">
                                                <span class="badge bg-success">
                                                    @orderItem.Amount
                                                </span>
                                                [@orderItem.Price.ToString("c")] -
                                                @orderItem.Movie.Name
                                            </div>
                                        </li>
                                    }
                                </ul>
                            </td>
                            <td class="align-middle">
                                @order.GetTotalPrice().ToString("c")
                            </td>
                        </tr>
                    }
                </tbody>
            </table>
        }
        <h4>Роли</h4>
        <ul>
            @foreach (var role in Model.Roles)
            {
                <li>@role</li>
            }
        </ul>
        <div class="my-2">
            <a class="btn btn-outline-secondary float-end" href='javascript:history.go(-1)'>Вернуться назад</a>
        </div>
    </div>
</div>
