@using MovieLibrary.Models.Models;
@model List<Order>
@{
    ViewData["Title"] = "Заказы";
}
<div class="row">
    <div class="col-md-8 offset-md-2">
        <p>
            <h4>Orders</h4>
        </p>
        <table class="table">
            <thead>
                <tr>
                    <th>Id</th>
                    <th>Элементы</th>
                    <th>Общая цена</th>
                    <th>Статус заказа</th>
                </tr>
            </thead>
            <tbody>
                @foreach (var order in Model)
                {
                    <tr>
                        <td class="align-middle"> @order.Id </td>
                        <td class="align-middle">
                            <ul class="list-unstyled">
                                @foreach (var orderItem in order.OrderItems)
                                {
                                    <li>
                                        <div class="alert alert-info">
                                            <span class="badge bg-success">
                                                @orderItem.Amount
                                            </span>
                                            [@orderItem.Price.ToString("c")] -
                                            @orderItem.Movie.Name
                                        </div>
                                    </li>
                                }
                            </ul>
                        </td>
                        <td class="align-middle">
                            @order.GetTotalPrice().ToString("c")
                        </td>
                        <td class="align-middle">
                            @if (order.OrderStatus == MovieLibrary.Models.Enums.OrderStatus.Done)
                            {
                                <span class="badge bg-success">@order.GetOrderStatusAsString()</span>
                            }
                            else
                            {
                                <span class="badge bg-info">@order.GetOrderStatusAsString()</span>

                            }
                        </td>
                    </tr>
                }
            </tbody>
        </table>
    </div>

</div>